[include]
	path = ~/.user.gitconfig
[alias]
	# Basic git
	s = status
	sp = status --porcelain
	d = diff
	a = add
	aa = add .
	c = commit -m
	ca = commit -am
	p = push

	# Log
	l = log --oneline --graph
	l5 = log --oneline --graph -n 5
	lb = log --oneline --graph --branches
	lb5 = log --oneline --graph --branches -n 5

	# List tracked files
	ls = ls-tree -r --name-only HEAD

	# Fetch master file from pi brach
	# eval "$(ssh-agent -s)"
	# ssh-add .ssh/github
	ftm = fetch origin master:master
	chm = checkout master
[user]
	email = edis2393.239332@gmail.com
	name = pi
