[include]
	path = ~/.user.gitconfig
[alias]
	# Basic git
	s = status
	d = diff
	a = add
	aa = add .
	c = commit -m
	ca = commit -am
	p = push

	# Pull file from master branch
	fm = fetch origin master:master
	cm = checkout master
	lb = log --oneline --graph --branches -n 5

	# Log
	l = log --oneline

	# List tracked files
	ls = ls-tree -r --name-only HEAD
