.desktop-label-nonempty-active {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 14px;
  background-color:#263238;
  color:#CCCCCC;
}

.desktop-label-nonempty-inactive {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 8px;
  padding: 2px;
  background-color:#263238;
  color:#8e8e8e;
}

.desktop-label-empty-active {
  margin-left: 5px;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  font-size: 14px;
  background-color:#37474F;
  color: transparent;
}

.desktop-label-empty-inactive {
  margin-left: 8px;
  margin-right: 8px;
  width: 3px;
  height: 3px;
  border-radius: 4px;
  font-size: 8px;
  padding: 3px;
  background-color:#37474F;
  color: transparent;
}
