[Desktop Entry]
Type=Application
Exec=breaktimer enable
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_MX]=Break Timer
Name=Break Timer
Comment[es_MX]=Pausas programadas
Comment=Pausas programadas
