/*In order for userChrome.css to work, you need to open about:config and change
toolkit.legacyUserProfileCustomizations.stylesheets to true*/

/* TABS: color */
tab {
	color: #607A86 !important;
	counter-increment: tab-counter;
}
tab[selected] {
	color: #EEEFFF !important;
}
.tab-background, #TabsToolbar .toolbar-items {
	background: #263238 !important;
}

/* TABS: counter */
.tab-content::before {
	content: counter(tab-counter) "";
	position: absolute;
	top: 5px;
	right: 0px;
	padding: 0px 0px;
	color: #5F7B86;
	background: transparent;
	font-size: 60%;
}

/* TABS: text align */
.tab-label-container {
	margin-bottom: 2px !important;
}

/* TABS: image filter */
.tab-icon-image {
	filter: saturate(17%) opacity(45%) !important;
	margin-bottom: 2px;
}
.tab-icon-image[selected] {
	filter: none !important;
	margin-bottom: 2px;
}

/* TABS: decoration */
.tab-close-button {
	display: none; 
}
.tab-line {
	display: none;
}
.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-color: transparent !important;
	border-image: none !important;
}

/* TABS: height */
:root {
	--tab-toolbar-navbar-overlap: 0px !important; /* fix for full screen mode */
	--tab-min-height: 24px !important;
}
:root #tabbrowser-tabs {
	--tab-min-height: 24px !important;
}
#TabsToolbar {
	height: var(--tab-min-height) !important;
}

/* TABS: width */
.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 140px !important;
}

/* NAVBAR: color */
#urlbar-input-container {
	background-color: #263238 !important;
	border-color: #263238 !important;
}
#nav-bar {
	background: #263238 !important;
	box-shadow: none !important;
	box-shadow : 0 1px 0 #263238 !important;
}

/* NAVBAR: height */
#urlbar-container {
	--urlbar-container-height: 24px !important;
}
#urlbar {
	margin-bottom: -12px !important;
}

/* NAVBAR: icons */
#star-button, #star-button-box, 
#reader-mode-button-icon, 
.toolbarbutton-1 {
	fill: #ABB2BF !important;
}
