 @-moz-document url("about:home"),url(about:preferences),url("about:blank"),url("about:newtab"),url("about:privatebrowsing")
{
	body{background-color:#263238!important;
	--newtab-search-icon: transparent !important;
}
a,a:visited,a:hover{
	color:#263238!important
}
#newtab-search-text {
	background-color: #263238 !important;
	font-size: 18px !important;
	color: #9BA8BB !important;
	box-shadow: none !important;
	text-align: center !important;
	border:none !important;
	font-weight: bold !important;
}
}

@-moz-document regexp("https?://(support.mozilla.org).*")
{
body {
	background-color: #263238 !important;
	color: #9BA8BB !important;
}
.sumo-nav--container {
	background-color: #263238 !important;
}
.sumo-nav .mzp-c-navigation-l-content {
	background-color: #263238 !important;
}
.sumo-nav .searchbox {
	background-color: #263238 !important;
	color: #9BA8BB !important;
}
}

@-moz-document regexp("moz-extension?://().*")
{
body.vimiumBody {
	background-color: #263238 !important;
	color: #9BA8BB !important;
}
body.vimiumBody div#state, body.vimiumBody div#footer {
	background-color: #263238 !important;
    border-color: #37474F !important;
}
body.vimiumBody textarea, body.vimiumBody input {
	background-color: #263238 !important;
	color: #9BA8BB !important;
    border: none !important;
}
body.vimiumBody div.example {
	color: #9BA8BB !important;
}
button {
	background-color: #263238 !important;
	color: #9BA8BB !important;
	background-image: none !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}
}