 @-moz-document url("about:home"),url(about:preferences),url("about:blank"),url("about:newtab"),url("about:privatebrowsing"){
	body{background-color:#263238!important;
	--newtab-search-icon: transparent !important;
}

a,a:visited,a:hover{
	color:#263238!important
}

#newtab-search-text {
	background-color: #263238 !important;
	font-size: 18px !important;
	color: #9BA8BB !important;
	box-shadow: none !important;
	text-align: center !important;
	border:none !important;
	font-weight: bold !important;
}
